/* For Adding a Border In Sidebar */
/* .st-emotion-cache-8atqhb {
    border: 1px solid #bab8b8;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
} */

/* For the Upper Chat Box */
/* [data-testid="stVerticalBlock"] {
    border: 1px solid #bab8b8;
    border-radius: 10px;
    padding: 2px 35px 0px 35px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
} */

/* For Upper Chat Container */
[data-testid="stMainBlockContainer"] {
    padding-left: 8rem;
    padding-right: 9rem;
}

/* For Bottom Chat Container */
[data-testid="stBottom"] {
    padding-left: 45px;
    padding-right: 68px;
}

/* For the Metrics */
/* [data-testid="stMetric"] { */
/* border: 1px solid #bab8b8;
    border-radius: 10px;
    padding: 10px 10px 10px 10px; */
/* background-color: white; */
/* } */

/* For Caption Text */
[data-testid="stCaptionContainer"] {
    font-size: 14px;
    opacity: 0.8;
}

/* For Toggle Button Text */
.st-emotion-cache-4tlk2p {
    font-size: 12px;
}

/* For the Dividers */
.st-emotion-cache-1mw54nq {
    font-size: 10px;
    padding-bottom: 10px;
}

/* For Human Icon */
.st-emotion-cache-1ghhuty {
    background-color: rgb(20 164 64 / 80%);
    box-shadow: 4px 5px 8px 1px rgb(0 0 0 / 16%);
}

/* For Bot Icon */
.st-emotion-cache-bho8sy {
    box-shadow: 3px 2px 5px 1px rgb(0 0 0 / 19%);
}

/* For Chat Box Selection Border Color */
.st-d9 {
    border-bottom-color: #0499d0;
}

.st-d8 {
    border-top-color: #0499d0;
}

.st-d7 {
    border-right-color: #0499d0;
}

.st-d6 {
    border-left-color: #0499d0;
}